<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <form action="" method="POST">
        {%csrf_token%}
        {{form}}
        {{form1}}
        <input type="submit" value="submit">
    </form>
    <a href="{% url 'register' %}">¿Ya estas registrado? Registrate </a>
    <a href="{% url 'recovery'%}">Recuperar Cuenta</a>
</body>
</html>