<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <h2>Login</h2>
        <input type="text" name="username" placeholder="Ingrese su usuario aqui">
        <input type="text" name="password" placeholder="Ingrese su contraseña">
        <button>Ingresar</button>
        <a href="{% url 'recovery' %}">¿Olvido su contraseña?</a>
        <a href="{% url 'register' %}">¿No tiene una cuenta? ¿Desea crear una?</a>
    </form>
</body>
</html>